
p.back-to {
	text-align: center;
	font-size: 1rem;
	color: #000;
}

a {
	text-decoration: none;
}

a.back-to {
	color: skyblue
}

a.div-like {
	display: block;
	margin: 0.5em 0em;
	padding: 0.5em;
	border-radius: 0.5em;
	text-align: center;
	background-color: #41a863;
	color: #fff;
}

div.info {
	margin: 0.5rem 0rem;
	padding: 0.5rem;
	border-radius: 0.5rem;

	background-color: skyblue;
	color: white;

	font-size: 1rem;
}

a.info {
	color: white;
	text-decoration: underline;
}


body {
	background-color: #eee;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 3rem;
	text-align: center;
}

h3 {
	font-size: 2rem ;
	text-align: center;
}

p {
	font-size: 1.5rem;
}

div#ui1-main {
	margin: 10vh 10vw;
	padding: 50px;
	background-color: #fff;
}
