#ui1-main {
	margin: 5vw;
	padding: 5vw;
	border-radius: 5vw;
	background-color: #eee;
}

#ui1-title{
	font-size: 5vh;
	text-align: center;
}
#ui1-subtitle{
	font-size: 3vh;
	text-align: center;
}

a.ui1-link0{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	margin: 0.5vh 0;
	padding: 1vh;
	border-radius: 1vh;
	background-color: #41a863;
	color: #fff;
	font-size: 2vh;
	text-decoration: none;
	text-align: center;
}