nav {
	/* 导航栏背景颜色 */
	color: #fff;
	/* 导航栏文字颜色 */
	font-size: 2vh;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/* 去掉列表项的圆点符号 */
	overflow: hidden;
	/* 隐藏溢出的列表项 */
}

nav li {
	float: left;
	/* 列表项左浮动 */
}

nav a {
	display: block;
	/* 将链接转换为块级元素 */
	padding: 1.5vh;
	/* 链接内边距 */
	color: #fff;
	/* 链接文字颜色 */
	text-decoration: none;
	/* 去掉链接下划线 */
}

nav a:hover {
	background-color: #fff;
	/* 鼠标悬停时链接背景颜色 */
	color: #000;
}

header {
	background-color: #000;
	height: 100vh;
}

#titlediv {
	color: #fff;
	text-align: center;
	padding: 42.5vh 0;
	height: 10vh;
}

#more-info {
	display: inline-block;
	padding: 0.5vh;
	border-radius: 1vh;
	background-color: #fff;
	color: #000;
}
