nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 12px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}
